<div class="footer-page">
    <nav class="footer-navigation">
        <p>Links:</p>
        <ul class="bottom-menu">
            {{#each menu}}
            <li>
                <a href="{{thisURL}}{{this.urlSuffix}}">{{this.name}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
    <nav class="footer-social">
        <p>My social profiles:</p>
        <ul class="social-menu bottom-social">
            {{#each social}}
            <li>
                <a href="{{this.url}}"><span class="visually-hidden">{{this.name}}</span></a>
            </li>
            {{/each}}
        </ul>
    </nav>
</div>